@charset "utf-8";
.container div {
 border: 1px rgb(19, 180, 92) solid;
 padding: 10px;
}

   .container {
    display: flex;
    align-items: flex-start;
   }

   .item-box-1 {
    flex: 2;
    order: 2;
    align-self: flex-end;
   }

   .item-box-2 {
    flex: 1;
    order: 1;
   }
   
   .item-box-3 {
    flex: 1;
    order: 3;
   
   }

   .item-box-4 {
    flex: 1;
    order: 4;
   }